@font-face{
	font-family:'Devonshire-Regular';
	src:url('polices/Devonshire-Regular.eot');
	src:url('polices/Devonshire-Regular.ttf'),
		url('polices/Devonshire-Regular.svg'),
		url('polices/Devonshire-Regular.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'ballparkweiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff2') format('woff2'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#ballparkweiner') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:'CroissantOne';
	src:url('polices/CroissantOne.eot');
	src:url('polices/CroissantOne.ttf'),
		url('polices/CroissantOne.svg'),
		url('polices/CroissantOne.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Dancing Script';
	src:url('polices/DancingScript.eot');
	src:url('polices/DancingScript.ttf'),
		url('polices/DancingScript.svg'),
		url('polices/DancingScript.otf'),
		url('polices/DancingScript.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Kaushan Script';
	src:url('polices/KaushanScript.eot');
	src:url('polices/KaushanScript.ttf'),
		url('polices/KaushanScript.svg'),
		url('polices/KaushanScript.otf'),
		url('polices/KaushanScript.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('polices/OpenSans-Regular-webfont.eot');
    src: url('polices/OpenSans-Regular-webfont.eot'),
         url('polices/OpenSans-Regular-webfont.woff2'),
         url('polices/OpenSans-Regular-webfont.woff'),
         url('polices/OpenSans-Regular-webfont.ttf'),
         url('polices/OpenSans-Regular-webfont.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'Chilanka';
    src: url('polices/chilanka-v5-latin.eot');
    src: url('polices/chilanka-v5-latin.woff2'),
         url('polices/chilanka-v5-latin.woff'),
         url('polices/chilanka-v5-latin.ttf'),
         url('polices/chilanka-v5-latin.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'BadScript';
    src: url('polices/bad-script-v8-latin.eot');
    src: url('polices/bad-script-v8-latin.woff2'),
         url('polices/bad-script-v8-latin.woff'),
         url('polices/bad-script-v8-latin.ttf'),
         url('polices/bad-script-v8-latin.svg');
    font-weight: normal;
    font-style: normal;
}


/* partie index */


html{
	height:100%;
}

body{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

/*début header*/

header{
	/*width:100%;*/
	height:10%;
	text-align: center;
	display:table-cell;/*centrer verticalement une image*/
	vertical-align: middle;/*centrer verticalement une image*/
}

/*#widthLogo{
	width: 100%;
}*/

header img{
	width:30%;
	padding:15px;
}


.textAlignCenter{
	text-align: center;
}

.bg-color{
	background-color:#008b8b;
}

/*fin header*/

/*debut section*/

section{
	display:flex;
	flex-direction:row;
	align-items: stretch;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	/*width:100%;*/
}


.bloc1,.bloc2,.bloc3,.bloc4{
	/*height:100%;*/
	width:25%;
	height:400px;
}

.paddingSection{
	padding:0.5%;
}

.marginTop{
	margin-top:5%;
}


/*début menu 1: La note enchantée */

.menu1{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	align-items:center;
	justify-content: center;
	background-color: #f9dfdb;
	height:400px;
	/*width:100%;*/
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	color: #795548;
	text-align:center;
	/*margin-top:50px;
	margin-bottom:50px;*/
}

.fontMenu1{
	font-family:"Devonshire-Regular";
}

.menu1 img{
	width:20%;
	height:10%;
}

.menu1 h4{
	margin-top: 0;
	margin-bottom: 0;
}

.menu1 span{
	font-family:"BadScript";
	font-style: italic;
}

.colorMenu1{
	color:#795548;
}

.titreMenu{
	padding-bottom:10%;
}

.size40{
	font-size:40px;
}

.paddingBottom{
	padding-bottom: 5%;
}

/*fin menu 1: la note enchantée */

/*début menu 2:Le chic à la française*/

.menu2{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-content:center;
	justify-content: center;
	background-color: #fff5fe;
	height:400px;
	/*width:100%;*/
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
	/*margin-top:50px;
	margin-bottom:50px;*/
}

.menu2 h5, .menu3 h5, .menu4 h5{
	margin-bottom: 0;
	padding:5px;
}

#colorMenu2{
	background: linear-gradient(to right,#d3813c,#ce7d52,#8f5bfd,#6e4ccc);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.fontMenu2{
	font-family: "CroissantOne"
}

.colorMenu2-bis{
	color:#d3813c;
}

.paddingTitreMenu{
	padding:1%;
}

.size20{
	font-size:20px;
}


/*Fin menu 2: Le chic à la française */

/*Début menu 3: Le délice des papilles */

.menu3{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	align-items:center;
	justify-content: center;
	background-color: #edefef;
	height:400px;
	/*width:100%;*/
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
	/*margin-top:50px;
	margin-bottom:50px;*/
}

#colorMenu3{
	background: linear-gradient(to right,#0427db,#0086ff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorMenu3-bis{
	color:#0086ff;
}

.fontMenu3{
	font-family: "Dancing Script";
}

.titreMenu{
	padding:1%;
}

.paddingTop{
	padding-top:5%;
}
/*Fin menu 3:Le délice des papilles */

/*Début menu 4: La palette du goût */


.menu4{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	justify-content: center;
	background-color:#fdfffd;
	height:400px;
	/*width:100%;*/
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
	/*margin-top:50px;
	margin-bottom:50px;*/
}

.menu2 span{
	font-family:"Chilanka";
	font-size:40px;
}

 .menu3 span, .menu4 span{
	font-family:'Chilanka';
}

#colorMenu4{
	background: linear-gradient(to right,#64b24f,#bbf57f);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorMenu4-bis{
	color:#64b24f;
}

.fontMenu4{
	font-family:"Kaushan Script";
}

/*Fin menu 4: La palette du goût */

a{
	text-decoration: none;
}

/*Fin section*/

/*Début aside */

.prochainement{
	margin-left:auto;
	margin-right:auto;
	/*display: flex;*/
	/*margin:30px;*/
	width:260px;
	/*vertical-align: middle;*/
	margin-bottom: 50px;
	border-radius:10px;
	text-align: left;
	padding-left:15px;
	padding-right: 0;
}	

footer{
	margin-top:50px;
}

.prochainement, footer{
	font-family: "OpenSans";
}

.prochainement:after{
	display:inline-block;
	animation:suspension steps(1,end) 2s infinite;
	content: '';
}

@keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}

@-webkit-keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}

/*.prochainement:after{
	overflow:hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 2s infinite;
	animation: ellipsis steps(4, end) 2s infinite;
	content: "\2026";
	width:0px;
}

@keyframes ellipsis{
	to {
		width: 1.25em;
	}
}


@-webkit-keyframes ellipsis{
	to {
		width: 1.25em;
	}
}


/*aside i{
	font-size: 5px;
	padding:5px;
}*/

.marginBottom{
	margin-bottom: 5%;
}

.size30{
	font-size:30px;
}

.size60{
	font-size:60px;
}

.color{
	color:#feca07;
}

/*Fin aside */

/*Début footer*/

footer{
	margin:auto;
	height:auto;
	padding:2%;
	position:sticky;/*Pour afficher le footer même quand on scroll*/
	left:0;	right:0; bottom:0;
}

.textAlignLeft{
	text-align: left;
}

.textAlignRight{
	text-align: right;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}

.paddingLeft-footer{
	padding-left:20%;
}

.paddingRight-footer{
	padding-right:20%;
}

.col4 .col5{
	width:30%;
}

/*Fin footer */


/* menu1.html */
	/*Début nav */
		/* Début section */

#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	margin-top:0;
	margin-left:5%;
	margin-right:5%;
	margin-bottom: 5%;
	color:#795548;
}

.logoEntete, .logoEnteteBas{
	width:10%;
}

.menu1_note-enchantee{
	padding-bottom:5%;
}



.width{
	width: 100%;
}

.entree{
	width:15%;
	text-align:center;
}

.iconeGauche{
	width:25%;
	vertical-align: middle;
}

.iconeDroite{
	width: 25%;
	vertical-align: middle;
}

.paddingTop--entree{
	padding-top:5%;
}

.paddingTop--icone{
	padding-top: 0.25%;
}

.col1{
	width:50%;
}

.col2{
	width:10%;
}

.col3{
	width:100%;
}

.size15{
	font-size:15px;
}

.textAlignJustify{
	text-align: justify;
}

.paddingBottom2{
	padding-bottom:1%;
}

.paddingTop{
	padding-top:5%;
}


.paddingTop2{
	padding-top: 1%;
}

.marginLeft{
	margin-left: 10%;
}

.paddingLeft{
	padding-left:5%;
}

.marginRight{
	margin-right:10%;
}


.paddingLeft2{
	padding-left:15%;
}

.paddingRight2{
	padding-right:15%;
}

/*Fin menu 1: La note enchantée */

/*Début menu 2: Le chic à la française , menu 3: Le délice des papilles, menu 4: La palette du goût*/

#sectionMenu2{
	background-color:#fff5fe;
	margin-top:0;
	margin-left:5%;
	margin-right:5%;
	margin-bottom: 5%;
}

.gradient{
	font-size:50px;
	background: linear-gradient(to right,#d3813c,#ce7d52,#8f5bfd,#6e4ccc);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorEntree--menu2{
	color:#c57428;
}

.paddingBottom2--menu2{
	padding-bottom:1%;
}

.colorPlat--menu2{
	color:#a56799;
}

.colorDessert--menu2{
	color:#6e4ccc;
}

.paddingRight{
	padding-right:10%;
}

span{
	font-weight:bold;
}

.paddingRight-bis{
	padding-right:5%;
}

/*Fin css projet 3 sans les medias-queries */

/*Début des médias queries*/
/*index.html*/

@media all and (min-width:1270px){
    .menu2 h5{
        font-size:25px;
	}
}

@media all and (min-width: 1024px){
	section{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	/*width:100%;*/
	}

.marginTop{
	margin-top:5%;
	}

.marginBottom{
	margin-bottom: 5%;
	}

.paddingBottom{
		padding-bottom: 1%;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}

}

@media all and (min-width:1024px) and (max-width: 1270px){
   .menu1, .menu2 span, .menu3, .menu4{
   	font-size:30px;
   }

   .menu2 h5{
   	font-size:20px;
   }

}

	@media all and (min-width:800px) and (max-width:1024px){
	
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/

	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		width:45%;
		padding:2%;
	}

	.bloc1,.bloc2{
		margin-bottom: 50px;
	}

		.bloc3,.bloc4{
		margin-bottom: 35px;
	}

	footer{
		margin-top: 50px;
	}


	.menu1,.menu3,.menu4{
		font-size:40px;
		height:450px;
	}

	.menu2{
		font-size:35px;
		height:450px;
	}


	.bloc1 img{
		width: 10%;
	}

	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:30px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}

}

@media all and (min-width:700px) and (max-width:800px){
	
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		width:45%;
		padding:2%;
	}

	.bloc1,.bloc2{
		margin-bottom: 50px;
	}

		.bloc3,.bloc4{
		margin-bottom: 35px;
	}

	footer{
		margin-top: 50px;
	}


	.menu1,.menu3,.menu4{
		font-size:35px;
		height:450px;
	}

	.menu2{
		font-size:30px;
		height:450px;
	}

	.bloc1 img{
		width: 10%;
	}


	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:30px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}




}

@media all and (min-width:500px) and (max-width:699px){
	
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		width:45%;
		padding:2%;
	}

	.bloc1,.bloc2{
		margin-bottom:1px;
	}

		.bloc3,.bloc4{
		margin-bottom: 3px;
		padding-bottom:0;
	}


	footer{
		margin-top: 50px;
	}


	.menu1,.menu3,.menu4{
		font-size:25px;
		height:400px;
	}

	.menu2{
		font-size:20px;
		height:400px;
	}

	.bloc1 img{
		width: 20%;
	}

	/*aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}*/

	/*aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	/*margin-top:29%;*/
	/*margin-top:100px;
	/*margin-bottom: 5%;*/
	/*margin-bottom:100px;
	}*/

	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:30px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}

	.paddingLeft-footer{
	padding-left:15%;
	}

	.paddingRight-footer{
	padding-right:15%;
	}

	/*.paddingSection{
		padding:20px;
	}*/



}

/*@media all and (min-width:801px) and (max-width:989px){

	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;
	width:100%;
	height:110%;
	margin-bottom: 0;
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		
		height:55%;
		width:40%;
		padding:2%;
	}

	.menu1,.menu2,.menu3,.menu4{
		font-size:40px;
	}

	.menu2{
		font-size:30px;
	}

	.marginTop{
		margin-top:1%;
	}

	.marginBottom{
		margin-bottom: 5%;
	}

	.marginTop{
		margin-top: 3%;
	}

	.paddingBottom{
		padding-bottom: 1%;
	}

	.bloc1 img{
		width: 10%;
	}

	aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}

	aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	margin-top:21%;
	margin-bottom:5%;
	}

	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:30px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}
}

@media all and (min-width:701px) and (max-width:800px){

	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;	width:100%;
	height:100%;
	margin-bottom: 0;
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		height:50%;
		width:38%;
		padding:2%;
	}

	.menu1,.menu3,.menu4{
		font-size:30px;
	}

	.menu2{
		font-size:25px;
	}

	.marginTop{
		margin-top:1%;
	}

	.marginBottom{
		margin-bottom: 5%;
	}

	.marginTop{
		margin-top: 3%;
	}

	.paddingBottom{
		padding-bottom: 1%;
	}

	.bloc1 img{
		width: 10%;
	}

	aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}

	aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	margin-top:11%;
	margin-bottom:5%;
	}

	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:30px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}
}

@media all and (min-width: 601px) and (max-width: 700px){


	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;
	width:100%;
	height:90%;
	margin-bottom:0;
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		height:50%;
		width:38%;
		padding:2%;
	}

	.menu1,.menu3,.menu4{
		font-size:25px;
	}

	.menu2{
		font-size:20px;
	}

	.marginTop{
		margin-top:1%;
	}

	.marginBottom{
		margin-bottom: 5%;
	}

	.marginTop{
		margin-top: 3%;
	}

	.paddingBottom{
		padding-bottom: 1%;
	}

	.paddingSection{
		padding:3%;
	}

	.bloc1 img{
		width: 10%;
	}

	aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}

	aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	margin-top:15%;
	margin-bottom:5%;
	}

	.col4, .col5{
		font-size:15px;
	}

	.menu2 span{
		font-size:25px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}
}

*/
/*@media all and (max-width: 600px){

	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;/*Pour centrer les éléments d'un conteneur flexible*/
	/*width:100%;
	height:70%;
	}

	.bloc1,.bloc2,.bloc3,.bloc4{
		height:45%;
		width:33%;
	}

	.paddingSection{
		padding:3%;
	}

	.paddingLeft-footer{
	padding-left:10%;
	}

	.paddingRight-footer{
	padding-right:10%;
	}

	.marginTop{
		margin-top:3%;
	}

	aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}

	aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
	}

	.menu1,.menu3,.menu4{
		font-size:18px;
	}

	.menu2 span{
		font-size:18px;
	}

	.menu2{
		font-size:15px;
	}

	.col4, .col5{
		font-size:15px;
	}

	.menu2 h5, .menu3 h5, .menu4 h5{
		padding-bottom: 8%;
	}

	.menu1 h4{
		padding-bottom: 8%;
	}
}


/*@media all and (max-device-width: 480px){

	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	width:100%;
	height:70%;
}

	.bloc1,.bloc2,.bloc3,.bloc4{
		height:55%;
		width:38%;
	}

	.paddingSection{
		padding:3%;
	}

	.paddingLeft-footer{
	padding-left:10%;
	}

	.paddingRight-footer{
	padding-right:10%;
	}

		.marginTop{
		margin-top:3%;
	}

	aside .col3{
		font-size:20px;
		text-align:center;
		padding:5px;
	}

	aside{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	vertical-align: middle;
	text-align: center;
	padding-top:18.5%;
	}

	.menu1,.menu2,.menu3,.menu4{
		font-size:18px;
	}
}*/

	
	/*menu 1: la note enchantée (medias-queries)*/

@media (min-width:965px) and (max-width: 1040px){
	#sectionMenu1 .paddingTop--icone{
		padding-top:1%;
	}
  }


@media (min-width:694px) and (max-width: 965px){
	#sectionMenu1 .paddingTop--icone{
		padding-top:1%;
	}

	#sectionMenu1 .col1{
		font-size: 15px;
		width:70%;
	}

	#sectionMenu1 .col2{
		font-size:15px;
	}
  }

  @media (max-width: 693px){
	#sectionMenu1 .paddingTop--icone{
		padding-top:1.25%;
	}

	#sectionMenu1 .col1{
		font-size: 11px;
		width:75%;
	}

	#sectionMenu1 .col2{
		width:5%;
		font-size:11px;
	}

	#sectionMenu1 p{
		font-size:15px;
	}
}

 	/*menu 2: Le chic à la française (medias queries)*/

 @media (min-width:887px) and (max-width: 1039px){
	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:1%;
	}

}

@media (min-width:687px) and (max-width: 887px){
	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:1%;
	}

	#sectionMenu2 p{
		font-size:16px;
	}

	#sectionMenu2 .col1{
		width:70%;
	}
 }

 @media (max-width:686px){
	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:1%;
	}

	#sectionMenu2 p{
		font-size:12px;
	}

	#sectionMenu2 .col1{
		width:70%;
		font-size:12px;
	}

	#sectionMenu2 .col2{
		font-size:12px;
	}

	.titreMenu2{
		font-size:25px;
	}
 }

 	/*menu 3: Le délice des papilles*/

 @media (min-width:887px) and (max-width: 1039px){
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:1%;
	}

 }

 @media (min-width:687px) and (max-width: 887px){
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:1.5%;
	}

	#sectionMenu3 .col1{
		font-size: 14px;
		width:55%;
	}

	#sectionMenu3 .col2{
		font-size:14px;
		width:5%;
	}

}

@media (max-width:686px){
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:1%;
	}

	#sectionMenu3 p{
		font-size:15px;
	}

	#sectionMenu3 .col1{
		width:65%;
		font-size:12px;
	}

	#sectionMenu3 .col2{
		width:1%;
		font-size:12px;
	}

	#sectionMenu3 .paddingRight{
		padding-right:8%;
	}

	#sectionMenu3 .titreMenu{
		font-size:50px;
	}

 }

 	/*menu 4: La palette du goût (medias queries)*/

@media (min-width:937px) and (max-width: 1039px){
	#sectionMenu4 .iconeGauche, #sectionMenu4 .iconeDroite{
		padding-top:1%;
	}

 }

 @media (min-width:736px) and (max-width: 936px){
	#sectionMenu4 .iconeGauche, #sectionMenu4 .iconeDroite{
		padding-top:1.5%;
	}

	#sectionMenu4 .col1{
		font-size: 15px;
		width:60%;
	}

	#sectionMenu4 .col2{
		font-size:15px;
		width:5%;
	}

}

@media (min-width: 547px) and (max-width:735px){
	#sectionMenu4 .iconeGauche, #sectionMenu4 .iconeDroite{
		padding-top:2%;
	}

	#sectionMenu4 p{
		font-size:18px;
	}

	#sectionMenu4 .col1{
		width:65%;
		font-size:12px;
	}

	#sectionMenu4 .col2{
		width:1%;
		font-size:12px;
	}

	#sectionMenu4 .paddingRight{
		padding-right:7%;
	}

	#sectionMenu4 .titreMenu{
		font-size:50px;
	}

 }


@media (max-width: 546px){
	#sectionMenu4 .iconeGauche, #sectionMenu4 .iconeDroite{
		padding-top:2%;
	}

	#sectionMenu4 p{
		font-size:17px;
	}

	#sectionMenu4 .col1{
		width:65%;
		font-size:10.5px;
	}

	#sectionMenu4 .col2{
		width:1%;
		font-size:10.5px;
	}

	#sectionMenu4 .paddingRight{
		padding-right:7%;
	}

	#sectionMenu4 .titreMenu{
		font-size:40px;
	}

 }

 /*Fin des medias queries*/

 /*.......................................*/
 				Animations
 /*.......................................*/

 section h4{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section h4:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }

 section h5{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section h5:hover{
 	opacity:0.5;
 	transform:scale(1.05);
 	font-weight: normal;
 }

 section img{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section img:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }

 section span{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section span:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }


 @-webkit-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

 @-moz-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

 @-o-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

.col4:hover{
	-webkit-animation-name:secousse;
	-webkit-animation-duration:0.75s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:secousse;
	-moz-animation-duration:0.75s;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:secousse;
	-o-animation-duration:0.75s;
	-o-animation-iteration-count:infinite;
}

.col5:hover{
	-webkit-animation-name:secousse;
	-webkit-animation-duration:0.75s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:secousse;
	-moz-animation-duration:0.75s;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:secousse;
	-o-animation-duration:0.75s;
	-o-animation-iteration-count:infinite;

}

#sectionMenu1 a {
	color:#795548;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #795548 0%, #795548 4px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu1 a:hover{
	background-size:100% 100%;
}

#sectionMenu2 a {
	/*text-decoration:none;*/
	background:linear-gradient(to top, #008b8b 0%, #008b8b 4px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu2 a:hover{
	background-size:100% 100%;
}

#sectionMenu3 a {
	color:black;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #0427db 0%, #0427db 4px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu3 a:hover{
	background-size:100% 100%;
}

#sectionMenu4 a {
	color:black;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #64b24f 0%, #64b24f 4px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu4 a:hover{
	background-size:100% 100%;
}

section span{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section span:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }


 /*@-webkit-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
 
}

 @-moz-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

 @-o-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

 @-webkit-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
 
}

 @-moz-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

/* @-o-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
}

 @-webkit-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
 
}

 @-moz-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
}

 @-o-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
}*/

/*aside .i1{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 1s ease-in-out;
 	transition:1s ease-in-out;
 	animation-iteration-count: infinite;
 }

 aside .i2{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 2s ease-in-out;
 	transition:2s ease-in-out;
 	animation-iteration-count: infinite;
 }

 aside .i3{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 3s ease-in-out;
 	transition:3s ease-in-out;
 	animation-iteration-count: infinite;
 }

 /*aside .i1{
 	animation-name: suspension1;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 5s;
 	animation-direction: normal;
 	animation-delay: 0s;
 }

  aside .i2{
 	animation-name: suspension2;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 2s;
 	animation-direction: normal;
 	animation-delay: 1s;
 }

  aside .i3{
 	animation-name: suspension3;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 2s;
 	animation-direction: normal;
 	animation-delay: 2s;
 
 }*/






















