@font-face{
	font-family:'Devonshire-Regular';
	src:url('polices/Devonshire-Regular.eot');
	src:url('polices/Devonshire-Regular.ttf'),
		url('polices/Devonshire-Regular.svg'),
		url('polices/Devonshire-Regular.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'ballparkweiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff2') format('woff2'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#ballparkweiner') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:'CroissantOne';
	src:url('polices/CroissantOne.eot');
	src:url('polices/CroissantOne.ttf'),
		url('polices/CroissantOne.svg'),
		url('polices/CroissantOne.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Dancing Script';
	src:url('polices/DancingScript.eot');
	src:url('polices/DancingScript.ttf'),
		url('polices/DancingScript.svg'),
		url('polices/DancingScript.otf'),
		url('polices/DancingScript.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'Kaushan Script';
	src:url('polices/KaushanScript.eot');
	src:url('polices/KaushanScript.ttf'),
		url('polices/KaushanScript.svg'),
		url('polices/KaushanScript.otf'),
		url('polices/KaushanScript.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('polices/OpenSans-Regular-webfont.eot');
    src: url('polices/OpenSans-Regular-webfont.eot'),
         url('polices/OpenSans-Regular-webfont.woff2'),
         url('polices/OpenSans-Regular-webfont.woff'),
         url('polices/OpenSans-Regular-webfont.ttf'),
         url('polices/OpenSans-Regular-webfont.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'Chilanka';
    src: url('polices/chilanka-v5-latin.eot');
    src: url('polices/chilanka-v5-latin.woff2'),
         url('polices/chilanka-v5-latin.woff'),
         url('polices/chilanka-v5-latin.ttf'),
         url('polices/chilanka-v5-latin.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'BadScript';
    src: url('polices/bad-script-v8-latin.eot');
    src: url('polices/bad-script-v8-latin.woff2'),
         url('polices/bad-script-v8-latin.woff'),
         url('polices/bad-script-v8-latin.ttf'),
         url('polices/bad-script-v8-latin.svg');
    font-weight: normal;
    font-style: normal;
}


 /*.......................................*/
 				Index
 /*.......................................*/

html{
	height:100%;
}

body{
	height:100%;
	margin:0;
	padding:0;
}

#contenu{
	min-height:100vh;
	position:relative;
}

/*début header*/

header{
	height:50px;
	text-align: center;
	display:table-cell;/*centrer verticalement une image*/
	vertical-align: middle;/*centrer verticalement une image*/
}

header img{
	width:30%;
	padding:15px;
}

.textAlignCenter{
	text-align: center;
}

.bg-color{
	background-color:#008b8b;
}

/*fin header*/

/*debut section*/

section{
	display:flex;
	flex-direction:row;
	align-items: stretch;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#bloc1,#bloc2,#bloc3,#bloc4{
	width:300px;
	height:400px;
}

.paddingSection{
	padding:0.5%;
}

.marginTop{
	margin-top:5%;
}

/*.titreMenu2, .titreMenu3,.titreMenu4{
	padding-top: 50px;
	padding-bottom: 50px;
}*/

footer{
	/*margin:auto;*/
	height:auto;
	width:100%;
	padding:10px;
	position:sticky !important;/*Pour afficher le footer même quand on scroll*/
	/*position:absolute;*/
	bottom:0;
	margin-top: 50px !important;

}

/*début menu 1: La note enchantée */

nav{
	padding:50px;
}

.menu1{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	align-items:center;
	justify-content: center;
	background-color: #f9dfdb;
	height:400px;
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	color: #795548;
	text-align:center;
}

#fontMenu1{
	font-family:"Devonshire-Regular";
}

.menu1 img{
	width:50px;
}

.menu1 h2{
	margin-top: 0;
	margin-bottom: 0;
	font-size:35px;
}

.menu1 span{
	font-family:"BadScript";
	font-style: italic;
}

.colorMenu1{
	color:#795548;
}

.titreMenu{
	padding-bottom:10%;
}

.size40{
	font-size:40px;
}

.paddingBottom{
	padding-bottom: 5%;
}

.noteEnchantee{
	font-family:"Devonshire-Regular";
}

/*fin menu 1: la note enchantée */

/*début menu 2:Le chic à la française*/

.menu2{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-content:center;
	justify-content: center;
	background-color: #fff5fe;
	height:400px;
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
}

.menu2 h2, .menu3 h2, .menu4 h2{
	margin-bottom: 0;
	padding:18px;
	font-size:30px;
}

.menu2 h2{
	margin-bottom: 0;
	padding:18px;
	font-size:28px;
}

#colorMenu2{
	background: linear-gradient(to right,#d3813c,#ce7d52,#8f5bfd,#6e4ccc);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#fontMenu2{
	font-family: "CroissantOne";
}

.colorMenu2-bis{
	color:#d3813c;
}

.paddingTitreMenu{
	padding:1%;
}

.size20{
	font-size:20px;
}

#sectionMenu2{
	padding-bottom:50px;
}


/*Fin menu 2: Le chic à la française */

/*Début menu 3: Le délice des papilles */

.menu3{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	align-items:center;
	justify-content: center;
	background-color: #edefef;
	height:400px;
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
}

#colorMenu3{
	background: linear-gradient(to right,#0427db,#0086ff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorMenu3-bis{
	color:#0086ff;
}

.fontMenu3{
	font-family:"Dancing Script";
}

.titreMenu{
	padding:1%;
}

.paddingTop{
	padding-top:5%;
}
/*Fin menu 3:Le délice des papilles */

/*Début menu 4: La palette du goût */


.menu4{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-content:center;
	justify-content: center;
	background-color:#fdfffd;
	height:400px;
	box-shadow: 2px 2px 6px 2px #D9D9D9;
	text-align:center;
}

.menu2 span{
	font-family:"Chilanka";
	font-size:40px;
}

 .menu3 span, .menu4 span{
	font-family:'Chilanka';
}


#colorMenu4{
	background: linear-gradient(to right,#64b24f,#bbf57f);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorMenu4-bis{
	color:#64b24f;
}

.fontMenu4{
	font-family:"Kaushan Script";
}

/*Fin menu 4: La palette du goût */

a{
	text-decoration: none;
}

/*Fin section*/

/*Début aside */

.prochainement{
	margin-left:auto;
	margin-right:auto;
	width:260px;
	/*margin-bottom: 50px;*/
	border-radius:10px;
	text-align: left;
	padding-left:15px;
	padding-right: 0;
}	


.prochainement, footer{
	font-family: "OpenSans";
}

.prochainement:after{
	display:inline-block;
	animation:suspension steps(1,end) 2s infinite;
	content: '';
}

@keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}

@-webkit-keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}

@-o-keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}

@-moz-keyframes suspension {
	0% { content: ''; }
	25% { content:'.'; }
	50% { content:'..'; }
	75% { content:'...'; }
	100% { content:''; }
}


/*.prochainement:after{
	overflow:hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 2s infinite;
	animation: ellipsis steps(4, end) 2s infinite;
	content: "\2026";
	width:0px;
}

@keyframes ellipsis{
	to {
		width: 1.25em;
	}
}


@-webkit-keyframes ellipsis{
	to {
		width: 1.25em;
	}
}


/*aside i{
	font-size: 5px;
	padding:5px;
}*/

.marginBottom{
	margin-bottom: 5%;
}

.size30{
	font-size:30px;
}

.size60{
	font-size:60px;
}

.color{
	color:#feca07;
}

/*Fin aside */

/*Début footer*/



.textAlignLeft{
	text-align: left;
}

.textAlignRight{
	text-align: right;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}

.paddingLeft-footer{
	padding-left:20%;
}

.paddingRight-footer{
	padding-right:20%;
}

.col4 .col5{
	width:30%;
}


/*Fin footer */


/* menu1.html */
	/*Début nav */
		/* Début section */

#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	color:#795548;
	max-width: 760px;
	margin:auto;
	margin-top: 50px;
	padding:50px;
}

.dessert.col1{
	width:100%;
}

.logoEntete, .logoEnteteBas{
	width:50px;
}

.width{
	width: 100%;
}

.entree{
	width:15%;
	text-align:center;
}

.iconeGauche{
	width:25%;
	vertical-align: middle;
}

.iconeDroite{
	width: 25%;
	vertical-align: middle;
}

.paddingTop--entree{
	padding-top:10px;
}

.paddingTop--icone{
	padding-top:10px;
}

.col1{
	width:50%;
}

.col2{
	width:10%;
}

.col3{
	width:100%;
}

.size15{
	font-size:15px;
}

.textAlignJustify{
	text-align: justify;
}

.paddingBottom2{
	padding-bottom: 15px;
}

.paddingTop2{
	padding-top: 10px;
}

.marginLeft{
	margin-left: 50px;
}

.paddingLeft{
	padding-left:7%;
}

.paddingRight{
	padding-right:7%;
}

.marginRight{
	margin-right:50px;
}


/*Fin menu 1: La note enchantée */

/*Début menu 2: Le chic à la française , menu 3: Le délice des papilles, menu 4: La palette du goût*/

#sectionMenu2{
	background-color:#fff5fe;
	max-width: 760px;
	margin:auto;
	margin-top: 50px;
	padding:50px;
}

#sectionMenu3{
	background-color: #edefef;
	margin:auto;
	padding:50px;
	max-width:760px;
	margin-top: 50px;
}

#sectionMenu4{
	background-color:#fdfffd;
	margin:auto; 
	max-width:760px;
	padding:50px;
	margin-top:50px;
}


.gradient{
	font-size:50px;
	background: linear-gradient(to right,#d3813c,#ce7d52,#8f5bfd,#6e4ccc);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.colorEntree--menu2{
	color:#c57428;
}

.paddingBottom2--menu2{
	padding-bottom:10px;
}

.colorPlat--menu2{
	color:#a56799;
}

.colorDessert--menu2{
	color:#6e4ccc;
}

span{
	font-weight:bold;
}

.paddingRight-bis{
	padding-right:5%;
}

.laPaletteDuGout span{
	padding:10px;
}

/*Fin css projet 3 sans les medias-queries */

/*******************************************/
		Début des médias queries
/******************************************/

/*index.html*/

@media all and (min-width: 1211px){
	.menu2 h2{
		font-size:28px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1211px){
	.menu2 h2{
		font-size:23px;
		padding:17px;
	}


}


@media all and (min-width: 1024px){
	section{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1182px){
  	.menu1 h2 {
  		font-size: 30px;
  	}

  	.menu3 h2, .menu4 h2{
  		font-size:25px;
  	}
}

@media all and (min-width: 800px) and (max-width: 1024px){
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/
	margin-bottom: 35px;

	}

	#bloc1,#bloc2,#bloc3,#bloc4{
		width:300px;
		height:400px;
		padding:2%;
	}

		.menu1 h2, .menu2 h2, .menu3 h2, .menu4 h2{
  			padding-bottom: 20px;
  	}

	footer .size20{
		font-size:15px;
	}
}

@media all and (min-width: 668px) and (max-width: 800px){
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/
	margin-bottom: 40px;

	}

	#bloc1,#bloc2,#bloc3,#bloc4{
		width:300px;
		height:400px;
		padding:2%;
	}

		.menu1 h2{
			padding-bottom: 20px;
			font-size:30px;
		}

		.menu2 h2, .menu3 h2, .menu4 h2{
  			padding-bottom: 20px;
  			font-size:25px;
  	}

	footer .size20{
		font-size:15px;
	}
}

@media all and (max-width: 668px){
	section{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;/*Pour centrer les éléments d'un conteneur flexible*/
	margin-bottom: 40px;

	}

	#bloc1,#bloc2,#bloc3,#bloc4{
		width:300px;
		height:400px;
		padding:2%;
	}

		.menu1 h2{
			padding-bottom: 20px;
			font-size:30px;
		}

		.menu2 h2, .menu3 h2, .menu4 h2{
  			padding-bottom: 20px;
  			font-size:25px;
  	}

	footer .size20{
		font-size:15px;
	}

	.paddingRight-footer{
		padding-right:10px;
	}

	.paddingLeft-footer{
		padding-left: 10px;
	}
}


	/*menu 1: la note enchantée (medias-queries)*/

@media (min-width: 1024px){
	#sectionMenu1 .paddingTop--icone{
		padding-top:10px;
	}

	#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	color:#795548;
	margin:auto;
	padding:50px;
	max-width:760px;
	margin-top: 50px;
	}

	#sectionMenu1 .col1{
		font-size:15px;
		width:80%;
	}

	#sectionMenu1 .col2{
		font-size:15px;
		width:10%;
	}
  }

@media (min-width: 710px) and (max-width: 1024px){
	
	#sectionMenu1 .paddingTop--icone{
		padding-top:10px;
	}

	#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	color:#795548;
	margin:auto;
	padding:30px;
	max-width:660px;
	margin-top: 50px;
	}

	#sectionMenu1 .col1{
		font-size:15px;
		width:80%;
	}

	#sectionMenu1 .col2{
		font-size:15px;
		width:10%;
	}

  }

  @media (min-width: 603px) and (max-width: 710px){
	
	#sectionMenu1 .paddingTop--icone{
		padding-top:10px;
	}

	#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	color:#795548;
	margin:auto;
	padding:30px;
	max-width:600px;
	margin-top: 50px;
	}

	#sectionMenu1 .col1{
		font-size:12px;
		width:80%;
	}

	#sectionMenu1 .col2{
		font-size:12px;
		width:10%;
	}

  }

  @media all and (max-width: 603px){
	
	#sectionMenu1 .paddingTop--icone{
		padding-top:10px;
	}

	#sectionMenu1{
	font-family:"Trebuchet";
	background-color: #f9dfdb;
	color:#795548;
	margin:auto;
	padding:30px;
	max-width:480px;
	margin-top: 50px;
	}

	#sectionMenu1 .col1{
		font-size:10px;
		width:90%;
	}

	#sectionMenu1 .col2{
		font-size:10px;
		width:10%;
	}

  }


 	/*menu 2: Le chic à la française (medias queries)*/

@media (min-width:1024px){
	#sectionMenu2 .col1{
		width:75%;
	}
}

@media (min-width: 710px) and (max-width: 1024px){
	#sectionMenu2 .col1{
		width:75%;
	}

	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:10px;
	}
}

@media (min-width: 605px) and (max-width: 710px){

	nav{
		padding:0;
	}

	#sectionMenu2{
		padding:0;
	}

	#sectionMenu2 p{
		font-size:16px;
	}

	
	#sectionMenu2 .col1{
		width:75%;
		font-size:13px;
	}

	#sectionMenu2 .col2{
		font-size:13px;
		width:10%;
	}

	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:5px;
	}

	#sectionMenu2 .gradient{
		font-size:30px;
	}
 }


@media (max-width: 605px){

#sectionMenu2{
	background-color:#fff5fe;
	max-width: 480px;
	margin:auto;
	margin-top: 50px;
	padding:50px;
}
	#sectionMenu2 p{
		font-size:13px;
	}

	
	#sectionMenu2 .col1{
		width:75%;
		font-size:10px;
	}

	#sectionMenu2 .col2{
		font-size:10px;
		width:10%;
	}

	#sectionMenu2 .iconeGauche, #sectionMenu2 .iconeDroite{
		padding-top:5px;
	}

	#sectionMenu2 .gradient{
		font-size:25px;
	}

 }


 	/*menu 3: Le délice des papilles*/

 @media all and (min-width: 1024px){
 	
 	#sectionMenu3 .col1{
 		width:55%;
 	}

 	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:10px;
	}

	#sectionMenu3 p, #sectionMenu3 span{
		font-weight: normal;
	}
 }

 @media (min-width:776px) and (max-width: 1024px){
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:10px;
	}

	#sectionMenu3 p, #sectionMenu3 span{
		font-weight: normal;
	}

	#sectionMenu3 .col1{
		font-size: 14px;
		width:65%;
	}

	#sectionMenu3 .col2{
		font-size:15px;
		width:10%;
	}

 }

  @media (min-width:600px) and (max-width: 776px){
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:10px;
	}

	#sectionMenu3 p, #sectionMenu3 span{
		font-weight: normal;
	}

	#sectionMenu3 p{
		font-size:18px;
		padding-bottom:5px;
	}

	#sectionMenu3 .col1{
		font-size: 14px;
		width:75%;
		padding-bottom:20px;
	}

	#sectionMenu3 .col2{
		font-size:15px;
		width:10%;
		padding-right: 7%;
	}

	#sectionMenu3 .titreMenu{
		font-size:50px;
	}

 }


 @media all and (max-width:600px) {
	#sectionMenu3 .iconeGauche, #sectionMenu3 .iconeDroite{
		padding-top:10px;
	}

	#sectionMenu3 p{
		font-size:15px;
		padding-bottom:5px;
	}


	#sectionMenu3 p, #sectionMenu3 span{
		font-weight: normal;
	}

	#sectionMenu3 .col1{
		font-size: 11px;
		width:75%;
		padding-bottom:20px;
	}

	#sectionMenu3 .col2{
		font-size:12px;
		width:5%;
		padding-right: 7%;
	}

	#sectionMenu3 .titreMenu{
		font-size:35px;
	}

 }
 

 	/*menu 4: La palette du goût (medias queries)*/

 @media all and (min-width: 925px){
 	#sectionMenu4 .col1{
		width:65%;
	}

	#sectionMenu4 span{
		font-weight:normal;
	}

	#sectionMenu4 .col2{
		width:5%;
	}
}

 @media all and (min-width: 840px) and (max-width: 925px){
 	
 		nav{
 		padding:5px;
 	}

 	#sectionMenu4{
 		padding:5px;
 	}

 	#sectionMenu4{
 		max-width: 760px;
 	}

 	#sectionMenu4 .col1{
		width:65%;
		font-size:15px;
	}

	#sectionMenu4 span{
		font-weight:normal;
	}

	#sectionMenu4 .col2{
		width:5%;
		font-size:15px;
	}
}

 @media all and (min-width: 744px) and (max-width: 840px){

 		nav{
 		padding:0;
 	}

 	#sectionMenu4{
 		padding:0;
 	}

 	#sectionMenu4 .col1{
		width:60%;
		font-size:15px;
		padding-bottom:20px;

	}

	#sectionMenu4 span{
		font-weight:normal;
	}

	#sectionMenu4 .col2{
		width:10%;
		font-size:15px;
		
	}

	#sectionMenu4 p{
		font-size: 20px;
	}
}

 @media all and (min-width: 646px) and (max-width: 744px){
 	
 	nav{
 		padding:0;
 	}

 	#sectionMenu4{
 		padding:0;
 	}


 	#sectionMenu4 .col1{
		width:60%;
		font-size:12px;
		padding-bottom:20px;

	}

	#sectionMenu4 span{
		font-weight:normal;
	}

	#sectionMenu4 .col2{
		width:10%;
		font-size:15px;
		
	}

	#sectionMenu4 p{
		font-size: 15px;
	}
}

 @media all and (max-width: 646px){
 	
 	nav{
 		padding:0;
 	}

 	#sectionMenu4{
 		padding:0;
 	}

 	#sectionMenu4 .col1{
		width:60%;
		font-size:10px;
		padding-left:20px;
		padding-bottom:20px;

	}

	#sectionMenu4 span{
		font-weight:normal;
	}

	#sectionMenu4 .col2{
		width:10%;
		font-size:15px;
		padding-right:20px;
		
	}

	#sectionMenu4 p{
		font-size: 15px;
	}

	#sectionMenu4 .titreMenu4{
		font-size:40px;
	}

}


 /*Fin des medias queries*/

 /*.......................................*/
 				Animations
 /*.......................................*/

 

  a.contenuCarte h2.animation{
 	opacity:1;
 	transform:scale(1);
 	-webkit-transform:scale(1);
 	transition:.3s ease-in-out all;
 	-webkit-transition: .3s ease-in-out all;
 	font-weight: bold;
 }

/* section h4:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }*/

 section h2{
 	opacity:1;
 	transform:scale(1);
 	-webkit-transform:scale(1);
 	transition:.3s ease-in-out all;
 	-webkit-transition: .3s ease-in-out all;
 	font-weight: bold;
 }

 section h2:hover{
 	opacity:0.5;
 	transform:scale(1.15);
 	font-weight: normal;
 }

 section img{
 	opacity:1;
 	transform:scale(1);
 	-webkit-transform:scale(1);
 	transition:.3s ease-in-out all;
 	-webkit-transition: .3s ease-in-out all;
 	font-weight: bold;
 }

 /*section img:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }*/

 section span{
 	opacity:1;
 	transform:scale(1);
 	-webkit-transform:scale(1);
 	transition:.3s ease-in-out all;
 	-webkit-transition: .3s ease-in-out all;
 	font-weight: bold;
 }

 /*section span:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }*/

 a.contenuCarte:hover img.animation{
 	opacity:0.5;
 	transform:scale(1.15);
 	font-weight: normal;
 }

  a.contenuCarte:hover h2.animation{
  	opacity:0.5;
 	transform:scale(1.15);
 	font-weight: normal;
 }

  a.contenuCarte:hover .animation{
  	opacity:0.5;
 	transform:scale(1.15);
 	font-weight: normal;
 }


 @-webkit-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

 @-moz-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

 @-o-keyframes secousse{
 	0% {-webkit-transform: translate(2px,2px);}
 	10% {-webkit-transform: translate(-2px,-2px);}
 	20% {-webkit-transform: translate(2px,2px);}
 	30% {-webkit-transform: translate(-2px,-2px);}
 	40% {-webkit-transform: translate(2px,2px);}
 	50% {-webkit-transform: translate(-2px,-2px);}
 	60% {-webkit-transform: translate(2px,2px);}
 	70% {-webkit-transform: translate(-2px,-2px);}
 	80% {-webkit-transform: translate(2px,2px);}
 	90%{-webkit-transform: translate(-2px,-2px);}
 	100%{-webkit-transform: translate(2px,2px);}
}

.col4:hover{
	-webkit-animation-name:secousse;
	-webkit-animation-duration:0.75s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:secousse;
	-moz-animation-duration:0.75s;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:secousse;
	-o-animation-duration:0.75s;
	-o-animation-iteration-count:infinite;
}

.col5:hover{
	-webkit-animation-name:secousse;
	-webkit-animation-duration:0.75s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:secousse;
	-moz-animation-duration:0.75s;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:secousse;
	-o-animation-duration:0.75s;
	-o-animation-iteration-count:infinite;

}

#sectionMenu1 a {
	color:#795548;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #795548 0%, #795548 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu1 a:hover{
	background-size:100% 100%;
}

#sectionMenu2 a {
	/*text-decoration:none;*/
	background:linear-gradient(to top, #008b8b 0%, #008b8b 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu2 a:hover{
	background-size:100% 100%;
}

#sectionMenu3 a {
	color:black;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #0427db 0%, #0427db 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu3 a:hover{
	background-size:100% 100%;
}

#sectionMenu4 a {
	color:black;
	/*text-decoration:none;*/
	background:linear-gradient(to top, #64b24f 0%, #64b24f 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;
}

#sectionMenu4 a:hover{
	background-size:100% 100%;
}

section span{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: .3s ease-in-out;
 	transition:.3s ease-in-out all;
 	font-weight: bold;
 }

 section span:hover{
 	opacity:0.5;
 	transform:scale(1.10);
 	font-weight: normal;
 }


 /*@-webkit-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
 
}

 @-moz-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

 @-o-keyframes suspension1{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

 @-webkit-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
 
}

 @-moz-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
 	100% { opacity:1; }
}

/* @-o-keyframes suspension2{
 	0% { opacity:0 }
 	50% { opacity:1;}
}

 @-webkit-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
 
}

 @-moz-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
}

 @-o-keyframes suspension3{
 	0% { opacity:0 }
 	50% { opacity:1;}
}*/

/*aside .i1{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 1s ease-in-out;
 	transition:1s ease-in-out;
 	animation-iteration-count: infinite;
 }

 aside .i2{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 2s ease-in-out;
 	transition:2s ease-in-out;
 	animation-iteration-count: infinite;
 }

 aside .i3{
 	opacity:1;
 	-webkit-transform:scale(1);
 	-webkit-transition: 3s ease-in-out;
 	transition:3s ease-in-out;
 	animation-iteration-count: infinite;
 }

 /*aside .i1{
 	animation-name: suspension1;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 5s;
 	animation-direction: normal;
 	animation-delay: 0s;
 }

  aside .i2{
 	animation-name: suspension2;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 2s;
 	animation-direction: normal;
 	animation-delay: 1s;
 }

  aside .i3{
 	animation-name: suspension3;
 	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
 	animation-duration: 2s;
 	animation-direction: normal;
 	animation-delay: 2s;
 
 }*/